@import "tailwindcss";
body{
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
html{
  scroll-behavior: smooth;
}

@theme{
  /* --color- */
 --color-primary-color: #080808;   /* cute purple */
  --color-secondary-color: #FF6584; /* pink accent */
  --color-bg-color: #F8F9FA;        /* light gray background */
  --color-text-color: #F361B0; 
  --color-text-onclick:#E60076;     /* main text */
  --color-input-bg: #FFFFFF;         /* input field background */
  --color-input-border: #E0E0E0;    /* input field border */
  --color-btn-hover: #574BFF;       /* darker primary on hover */
}

/* in index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}